*{
    margin: 0px;
}
body{
    background-color: gray;
    color: white;
}
.volta{
    position: absolute;
    top: 20px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s;

    img{
        width: 40px;
        height: 40px;
    }
}
.volta:hover{
    scale: 1.1;
}

header{
    background-color: darkslategray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;

        input{
            margin: 10px;
            font-size: 20px;
            padding: 10px;
            border-radius: 10px;
        }
        input:nth-child(1){
            width: 40vw;
            text-align: center;
        }
        input:nth-child(1):focus{
            outline: none;
        }
        input:nth-child(2){
            width: 150px;
            transition: all 0.5s;
            cursor: pointer;
        }
        input:nth-child(2):hover{
            background-color: gray;
        }
    }
}
main{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div{
        width: 250px;
        height: 170px;
        margin: 20px;
        cursor: pointer;
        
        img{
            border-radius: 20px;
            width: inherit;
            height: inherit;
            position: absolute;
            transition: all 0.5s;
        }
        p{
            margin-top: 20px;
            margin-left: 5px;
            transition: all 0.5s;
            background-color: darkslategray;
            border-radius: 20px;
            padding: 10px;
        }
    }
    div:hover img{
        scale: 1.1;
    }
    div:hover p{
        margin-top: 175px;
    }
}