* {
    margin: 0px;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    background-color: gray;
    color: white;
    font-family: sans-serif;
  }
  
  .volta {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s;
  }
  .volta img {
    width: 40px;
    height: 40px;
  }
  
  .volta:hover {
    scale: 1.1;
  }
  
  header {
    /* background-color: green; */
    background-image: url(img/backgrounds-Shrek-1893571-wallhere.com.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header form input {
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  header form input:nth-child(1) {
    width: 40vw;
    text-align: center;
    border: none;
  }
  header form input:nth-child(1):focus {
    outline: none;
  }
  header form input:nth-child(2) {
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
  }
  header form input:nth-child(2):hover {
    background-color: gray;
  }
  
  main {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  main div {
    width: 250px;
    height: 170px;
    margin: 20px;
    cursor: pointer;
    position: relative;
  }
  main div img {
    border-radius: 20px;
    width: inherit;
    height: inherit;
    transition: all 0.5s;
    object-fit: cover;
  }
  main div .nm {
    margin-top: -170px;
    margin-left: 0px;
    transition: all 0.5s;
    background-color: green;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
    width: 230px;
    opacity: 0;
    position: absolute;
    text-align: center;
  }
  main div .nm spam{
    text-transform: uppercase;
    text-decoration-line: underline;
  }
  main div .dr{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: green;
    padding: 5px 15px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0;
    z-index: 999;
    transition: all 0.5s;
  }
  main div .cl{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: green;
    padding: 5px 15px;
    border-radius: 0px 20px 0px 0px;
    opacity: 0;
    z-index: 999;
    transition: all 0.5s;
  }
  main div:hover img {
    // scale: 1.1;
    // opacity: 0.5;
    filter: brightness(1.5);
  }
  main div:hover .nm {
    margin-top: -20px;
    opacity: 1;
    z-index: 999;
  }
  main div:hover .dr {
    margin-top: 0px;
    z-index: 999;
    opacity: 1;
  }main div:hover .cl {
    opacity: 1;
  }
  
  .cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .cont a img{
    width: 50px;
  }
  @media (max-width: 350px){
    .cont{
      width: 40vw;
    }
    .top{
      display: none;
    }
  }
  @media (max-width: 500px){
    header form input:nth-child(1) {
      width: 80vw;
      text-align: center;
      border: none;
    }
    .top img{
      width: 8vw !important;
    }
}
.top{
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    z-index: 99;
    transition: all 0.5s;
    box-shadow: 1px 1px 10px black;
}
  .top img{
    width: 50px;
    rotate: 90deg;
    padding: 5px;
  }
  .top:hover{
    scale: 1.1;
  }

  footer{
    position: fixed;
    bottom: 0px;
    background-color: greenyellow;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer a{
    text-decoration: none;
    color: blue;
  }